body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: white;
}
button {
    padding: 10px;
    background-color: #1f1f1f;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}
button:hover {
    background-color: #636363;
}
img {
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}
.container {
    text-align: center;
}
.stats, .upgrades, .rebirths, .rebirth-shop {
    margin-top: 20px;
    padding: 5px;
    background-color: #333;
    border-radius: 10px;
}
.image {
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
}

.image a {
    display: inline-block;
}

.image img {
    display: block;
    width: auto;
    height: auto;
}
@media (max-width: 768px) { 
    .image {
    display: none;
    }
}
.image2 {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
}

.image2 a {
    display: inline-block;
}

.image2 img {
    display: block;
    width: auto;
    height: auto;
}
@media (max-width: 768px) { 
    .image2 {
    display: none;
    }
}
b {
    color: gold;
}
.falling-image {
    position: absolute;
    width: 50px;
    height: auto;
    pointer-events: none;
    animation: fall linear 3s forwards;
}

@keyframes fall {
    0% { transform: translateY(-100px); opacity: 1; }
    100% { transform: translateY(100vh); opacity: 0; }
}
